.inicio h2{
    text-align: center;
    padding: 30px;
}

.puesto-evento{
    display: flex;
    justify-content: center;
}

section h2{
    font-family: 'UNDERRATED', sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: 'BORELA', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}